.container{
	background-image: url(../images/pexels-photo-164308.jpeg);

}

.jumbotron{
	background-color: blue;
	background-image: url(../images/pexels-photo-104859.jpeg);
	background-repeat:no-repeat;
	color: white;">
	text-align: right;
	
}


